<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="3.1">

    <display-name>MyFirstServlet</display-name>

    <servlet>
        <servlet-name>ViewCoursesTaken</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.ViewCoursesTaken</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ViewCoursesTaken</servlet-name>
        <url-pattern>/view-courses-taken</url-pattern>
        <url-pattern>/view-courses-taken/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
        <url-pattern>/hello/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/user/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.AdminDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TeacherDashboardController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.TeacherDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherDashboardController</servlet-name>
        <url-pattern>/teacher/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentDashboardController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.StudentDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDashboardController</servlet-name>
        <url-pattern>/student/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditUserController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.admin.EditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserController</servlet-name>
        <url-pattern>/admin/edit-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewGradesController</servlet-name>
        <servlet-class>ru.innopolis.stc9.controller.student.ViewGradesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewGradesController</servlet-name>
        <url-pattern>/student/view-grades</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>auth-filter</filter-name>
        <filter-class>ru.innopolis.stc9.controller.filter.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>auth-filter</filter-name>
        <url-pattern>/inner/*</url-pattern>
    </filter-mapping>
    
</web-app>